@import './reset';
@import './iconfont';
@import './trabsition';
.w {
  width: 1226px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  width: 110px;
  line-height: 30px;
  text-align: center;
  background-color: $colorA;
  color: $colorG;
  cursor: pointer;
  border: none;
}
.btn-default {
  background-color: $colorD;
  color: $colorG;
}
.btn-large {
  width: 202px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
.btn-huge {
  width: 300px;
  height: 54px;
  line-height: 54px;
  font-size: 16px;
}
.btn-group {
  .btn {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
